body {
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 42%, #9599E2 100%);
}
h1 {
  text-align: center;
  font-size: 70px;
  text-shadow: 4px 1px yellow;
  font-family: 'ZCOOL KuaiLe', cursive;
}
img {
  width: 600px;
  height: 400px;
}
.logofizz {
  width: auto;
  float: right;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.fizzgame {
  display: flex;
  background: #fff;
  width: 30%;
  border: 2px solid black;
  border-radius: 20px solid white;
  text-align: center;
  justify-content: center;
}
#fizzlist {
  padding: 0;
}
#fizzlist li {
  padding: 20px;
}
